<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <title>404 error</title>
</head>

<body>
    <div class="err m-2"><iframe width="400" height="400"
            src="https://lottie.host/embed/50cce391-2c05-4b63-b66e-d402f38914da/LtOCQNdamt.lottie"></iframe>
        <div class="text-center text-md-start">
            <a href="/" class="btn btn-secondary btn-md">
                &lt;- Go Back <i class="fas fa-arrow-right ms-2"></i>
            </a>
        </div>
    </div>
</body>

</html>